{% extends 'base.html.twig' %}
 
{% block title %}Hello HomeController!
{% endblock %}
 
{% block body %}
{{ parent() }}
    <div class="container">
        <main>
            <div class="py-5 text-center mt-5 text-white mx-auto">
                <h2>Manage Social Media</h2>
            </div>
        </main>
    </div>
 
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('countPost') }}
            {{ encore_entry_script_tags('manageAccountSocialMedia') }}
{% endblock %}
